/* === GENERAL BODY === */
:root {
	--sidebar-width: 5rem;
	--sidebar-expanded-width: 20rem;
}
/*@font-face {
	font-family: "Bahnschrift";
	src: url("./css/webfonts/bahnschrift.ttf") format("truetype");
} */
* {
	min-width: 0;
	/* scroll */
	scrollbar-width: 12px;
	scrollbar-color: #04c #fff;
	/* anim */
	-webkit-transition: all 0.333s ease !important;
	-o-transition: all 0.333s ease !important;
	-ms-transition: all 0.333s ease !important;
	-moz-transition: all 0.333s ease !important;
	transition: all 0.333s ease !important;
}
/* @media (prefers-reduced-motion: reduce) {
	* {
		-webkit-transition: all 0s ease !important;
		-o-transition: all 0s ease !important;
		-ms-transition: all 0s ease !important;
		-moz-transition: all 0s ease !important;
		transition: all 0s ease !important;
	}
} */
html,
body {
	position: relative;
	font-family: "Bahnschrift";
	background: #fff0;
	font-size: 16px;
	letter-spacing: -0.1px;
	line-height: 1.5;
	font-weight: 400;
	color: #222;
	text-overflow: ellipsis !important;
	white-space: wrap !important;
}
/* === GENERAL ELEMENTS === */
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
select {
	display: block;
}
figure {
	margin: 0;
}
iframe {
	border: 0;
}
i,
i.fas,
span.fas {
	padding: 0.125rem 0.5rem;
}
i.input-icon,
i.select-icon {
	position: absolute;
	top: 25%;
	z-index: 9;
}
i.input-icon {
	left: 24px;
}
i.select-icon {
	right: 24px;
}
a {
	color: #600;
	text-decoration: none !important;
}
a:hover {
	text-decoration: underline !important;
	color: #fff !important;
	outline: none !important;
	text-shadow: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600;
	color: #222222;
}
h1,
.h1 {
	font-size: 36px;
}
h2,
.h2 {
	font-size: 30px;
}
h3,
.h3 {
	font-size: 24px;
}
h4,
.h4 {
	font-size: 18px;
}
h5,
.h5 {
	font-size: 16px;
}
h6,
.h6 {
	font-size: 14px;
}
td,
th {
	border-radius: 0px;
}
/* === BACKGROUNDS AND IMAGES === */
.has-background-cover {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.has-background-contain {
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.has-overlay {
	position: relative;
	z-index: 0;
}
.overlay,
.overlay-single {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -9;
	opacity: 0.5;
}
.overlay {
	background: -moz-linear-gradient(90deg, #006 0%, #600 100%);
	background: -webkit-linear-gradient(90deg, #006 0%, #600 100%);
	background: -o-linear-gradient(90deg, #006 0%, #600 100%);
	background: -ms-linear-gradient(90deg, #006 0%, #600 100%);
	background: linear-gradient(90deg, #006 0%, #600 100%);
}
.overlay-single {
	background: #600;
}
/* === BACKGROUND COLORS AND TEXTS === */
.bg-primary {
	background: #600 !important;
}
.bg-secondary {
	background: #006 !important;
}
.bg-black {
	background: #000 !important;
}
.bg-white {
	background: #fff !important;
}
.bg-dark {
	background: #111 !important;
}
.bg-light {
	background: #f8f8f8 !important;
}
.bg-light-transparent {
	background: rgba(255, 255, 255, 0.5);
}
.bg-dark-transparent {
	background: rgba(0, 0, 0, 0.5);
}
.text-dark-shadow {
	text-shadow: 0px 0px 5px #0007, 2px 0px 5px #0007, -2px 0px 5px #0007, 0px 2px 5px #0007, 0px -2px 5px #0007;
}
.text-light-shadow {
	text-shadow: 0px 0px 5px #fff7, 2px 0px 5px #fff7, -2px 0px 5px #fff7, 0px 2px 5px #fff7, 0px -2px 5px #fff7;
}
.text-white * {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.text-dark * {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}
.text-primary,
.text-primary * {
	color: #600 !important;
}
.text-secondary,
.text-secondary * {
	color: #003 !important;
}
.dark-links a:hover {
	color: #000 !important;
}
.hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}
/* === FX === */
.blurred {
	-webkit-filter: blur(6px);
	filter: blur(6px);
}
.blurred-subtle {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.bg-blurred {
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
}
.bg-blurred-subtle {
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
}
/* === ACCORDIONS === */
.bywr-accordion .accordion-item {
	background: #0000;
	border: 0;
}
.bywr-accordion .accordion-button {
	background: #0000;
	border-top: 1px solid #fff7;
	border-bottom: 1px solid #fff7;
}
.bywr-accordion .accordion-button:not(.collapsed) {
	background: #fff3;
}
.bywr-accordion .accordion-button:after {
	filter: invert(1);
}
.bywr-accordion .sidebar-option {
	display: flex;
	align-items: center;
	padding: 0.75rem;
	border-top: 1px solid #fff7;
	border-bottom: 1px solid #fff7;
}
.p-2o5 {
	padding: 0.75rem;
}
/* === SIDEBAR === */
.sidebar {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: var(--sidebar-width);
	margin: 0;
	z-index: 99;
	overflow: hidden;
}
.sidebar.sidebar-expanded {
	width: var(--sidebar-expanded-width);
	overflow-y: auto;
}
.sidebar:not(.sidebar-expanded) .sidebar-content {
	opacity: 0;
	visibility: hidden;
}
#sidebar-toggle {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 72px;
	width: var(--sidebar-width);
	background: #000;
	top: 1px;
	right: 0;
	padding: 0.5rem;
	border: 1px solid #fff7;
}
#sidebar-hidden {
	position: absolute;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--sidebar-width);
	top: 72px;
	bottom: 0;
	right: 0;
	padding: 0.5rem;
	gap: 1rem;
	opacity: 0;
}
.sidebar:not(.sidebar-expanded) #sidebar-hidden {
	display: flex;
	opacity: 1;
}
.app-container {
	position: absolute;
	height: 100vh;
	width: 100%;
	padding: 12px 8px 12px calc(8px + var(--sidebar-width));
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 9;
}
.app-container.sidebar-expanded {
	padding-left: calc(8px + var(--sidebar-expanded-width));
}
@media (max-width: 767.98px) {
	:root {
		--sidebar-width: 4rem;
	}
	.sidebar {
		width: var(--sidebar-width);
	}
	.sidebar.sidebar-expanded {
		width: 100vw;
	}
	#sidebar-toggle {
		width: var(--sidebar-width);
	}
	#sidebar-hidden {
		width: var(--sidebar-width);
		pointer-events: none;
	}
	.app-container {
		padding: 8px 8px 8px calc(8px + var(--sidebar-width));
	}
	.app-container.sidebar-expanded {
		padding-left: 8px;
	}
}
