:root {
  --sidebar-width: 5rem;
  --sidebar-height: 4.5rem;
  --sidebar-expanded-width: 20rem;
  --primary-color: #600;
  --secondary-color: #123;
  --light-color: #eee;
  --light-transparent: #fff7;
  --light-clear: #fff3;
  --dark-color: #111;
  --dark-transparent: #0007;
  --dark-clear: #0003;
  --transparent: #0000;
}
/* === SELECTION === */
::selection {
  background-color: #45f;
  color: #fff;
}
::-webkit-selection {
  background-color: #45f;
  color: #fff;
}
::-moz-selection {
  background-color: #45f;
  color: #fff;
}
/* === SCROLLBAR === */
::-webkit-scrollbar {
  background: #fff;
  border-radius: 8px;
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #999;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
/* === GENERAL === */
@font-face {
  font-family: "Bahnschrift";
  src: url("./css/webfonts/bahnschrift.ttf") format("truetype");
}
* {
  min-width: 0;
  scrollbar-width: 12px;
  scrollbar-color: #111 #fff;
  -webkit-transition:
    opacity 0.3s ease,
    height 0.3s ease,
    width 0.3s ease,
    transform 0.3s ease,
    margin 0.3s ease,
    padding 0.3s ease,
    background-color 0.3s ease,
    filter 0.3s ease !important;
  -o-transition:
    opacity 0.3s ease,
    height 0.3s ease,
    width 0.3s ease,
    transform 0.3s ease,
    margin 0.3s ease,
    padding 0.3s ease,
    background-color 0.3s ease,
    filter 0.3s ease !important;
  -ms-transition:
    opacity 0.3s ease,
    height 0.3s ease,
    width 0.3s ease,
    transform 0.3s ease,
    margin 0.3s ease,
    padding 0.3s ease,
    background-color 0.3s ease,
    filter 0.3s ease !important;
  -moz-transition:
    opacity 0.3s ease,
    height 0.3s ease,
    width 0.3s ease,
    transform 0.3s ease,
    margin 0.3s ease,
    padding 0.3s ease,
    background-color 0.3s ease,
    filter 0.3s ease !important;
  transition:
    opacity 0.3s ease,
    height 0.3s ease,
    width 0.3s ease,
    transform 0.3s ease,
    margin 0.3s ease,
    padding 0.3s ease,
    background-color 0.3s ease,
    filter 0.3s ease !important;
}
html,
body {
  position: relative;
  font-family: "Bahnschrift";
  background: #fff0;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--dark-color);
  text-overflow: ellipsis !important;
  white-space: wrap !important;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
select {
  display: block;
}
figure {
  margin: 0;
}
iframe {
  border: 0;
}
img {
  max-width: 100%;
}
hr {
  margin: 0.5rem 0;
}
p {
  margin-bottom: 0.5rem;
}
pre {
  margin: 0;
  padding: 0.125rem 0.25rem;
  line-height: 1;
  overflow: auto;
  width: auto;
  height: auto;
}
i {
  padding: 0;
  margin: 0 0.25rem;
}
a {
  color: var(--primary-color);
  text-decoration: none !important;
  white-space: nowrap !important;
}
a:hover,
a:hover * {
  text-decoration: underline !important;
  color: #67f !important;
  text-shadow: 0 0 var(--transparent) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
td,
th {
  border-radius: 0;
}
/* === CUSTOM UTILITIES USED BY THIS COMPONENT === */
.bg-dark-transparent {
  background: var(--dark-transparent);
}
.text-white,
.text-white * {
  color: var(--light-color) !important;
}
.has-background-contain {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.overlay-inverted {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -9;
  opacity: 0.5;
  background: -moz-linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  background: -webkit-linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  background: -o-linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  background: -ms-linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}
.bg-blurred {
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
}
.p-2o5 {
  padding: 0.75rem !important;
}
/* === ACCORDION === */
.bywr-accordion .accordion-item {
  background: var(--transparent);
  border: 0;
}
.bywr-accordion .accordion-button {
  background: var(--transparent);
}
.bywr-accordion .accordion-button:not(.collapsed) {
  background: #fff3;
}
.bywr-accordion .accordion-button::after {
  filter: invert(1);
}
.bywr-accordion .bywr-sidebar-option {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  flex-grow: 1;
}
.bywr-accordion .accordion-button,
.bywr-accordion .bywr-sidebar-option {
  background: var(--dark-clear);
  border-width: 0 0 1px 0 !important;
  border-style: solid !important;
  border-color: var(--light-transparent) !important;
}
/* === SIDEBAR === */
.bywr-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: var(--sidebar-width);
  margin: 0;
  z-index: 99;
  overflow: hidden;
}
.bywr-sidebar.bywr-sidebar-expanded {
  width: var(--sidebar-expanded-width);
  overflow-y: auto;
}
.bywr-sidebar:not(.bywr-sidebar-expanded) .bywr-sidebar-content {
  opacity: 0;
  visibility: hidden;
}
.bywr-sidebar-toggle {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--sidebar-height);
  width: var(--sidebar-width);
  background: #000;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border: 1px solid var(--light-clear);
  outline: 1px solid var(--light-clear);
}
.bywr-sidebar-hidden {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--sidebar-width);
  top: var(--sidebar-height);
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  gap: 1rem;
  opacity: 0;
}
.bywr-sidebar:not(.bywr-sidebar-expanded) .bywr-sidebar-hidden {
  display: flex;
  opacity: 1;
}
.app-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 0 0 0 var(--sidebar-width);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9;
}
.app-container.bywr-sidebar-expanded {
  padding-left: var(--sidebar-expanded-width);
}
@media (max-width: 768px) {
  .bywr-sidebar.bywr-sidebar-expanded {
    width: 100vw;
  }
  .app-container {
    padding-left: var(--sidebar-width);
  }
  .app-container.bywr-sidebar-expanded {
    padding-left: 0;
  }
  .bywr-sidebar-hidden {
    pointer-events: none;
  }
}
@media (max-width: 576px) {
  .bywr-sidebar {
    height: var(--sidebar-height);
    width: 100vw;
  }
  .bywr-sidebar.bywr-sidebar-expanded {
    height: 100vh;
  }
  .bywr-sidebar:not(.bywr-sidebar-expanded) .bywr-sidebar-content {
    opacity: 1;
    visibility: visible;
  }
  .app-container {
    padding: var(--sidebar-width) 0 0 0;
  }
  .app-container.bywr-sidebar-expanded {
    padding-top: 0;
  }
  .bywr-sidebar:not(.bywr-sidebar-expanded) .bywr-sidebar-hidden {
    display: none;
  }
}
